.submit-button {
  height: 64px;
  background-color: #2f71e5;
  color: #fff;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border: none;
  border-radius: 100px;
  outline: none;
  transform: translateX(1px);
}

.submit-button_search {
  width: 168px;
  margin: 0 0 0 -30px;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #347eff;
}

.submit-button:focus {
  background-color: #2a65cc;
}
