.search-form {
  margin: 0;
  padding: 0;
}

.search-form__input {
  max-height: 64px;
  font-size: 16px;
  line-height: 137%;
  padding: 20px 30px 20px 24px ;
  border: 1px solid #d1d2d6;
  background-color: #fff;
  max-width: 608px;
  width: calc(100% - 194px);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  outline: none;
}