.navbar {

}

.navbar-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 30px 104px 0 0;
}

.navbar-list__text-link {
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  text-decoration: none;
}

.navbar-list__text-link_active {
  margin: 0;
  padding: 30px 0 26px;
  border-bottom: 3px solid #fff;
}