.search {
  max-width: 608px;
  width: 100%;
  background-color: transparent;
  margin: 0 auto;
  padding: 0;
  color: #fff;
}

.search__heading {
  font-family: 'Roboto Slab', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 107%;
  margin: 0;
  padding: 80px 0 32px;
}

.search__text {
  max-width: 545px;
  width: 100%;
  margin: 0;
  padding: 0 0 64px;
}

@media all and (max-width: 920px) {
  .search {
    max-width: 452px;
  }

  .search__heading {
    max-width: 385px;
    font-size: 36px;
    line-height: 111%;
    padding: 38px 0 16px;
  }

  .search__text {
    padding: 0 0 48px;
  }
}
